.nome-local{
    margin-top: 50px;
    text-align: center;
}
.corpo{
    margin-left: 500px;
    margin-right: 500px;
    background-color:#6A5ACD;
    opacity: 0.9;
    text-align: center;
}

.info{
    opacity: 9999999;
    padding: 45px 32px;
}

footer {
  text-align: center;
  padding: 2px;
  background-color:#363636;
  color: white;
  margin-bottom: 1px;
}
